.yrl_wp_igv__admin {

  margin:1rem 2rem 1rem 0;
  padding:2rem;

  .page-title {

    a {
      margin-left:1rem;
    }
  }

  .admin-messages {
    margin: 1rem 0;
  }

  .chart-library {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-column: 1 / span 2;
    padding:2rem;
    border: 1px solid grey;
    margin-top: 2rem;

    .no-charts {
      font-size: 1rem;
      font-weight: 700;
      color: rgba($color_danger, 1);
      line-height: 2rem;
    }

    // .file-missing {
    //   font-size: 1.2rem;
    //   display:flex;
    //   justify-content: center;
    //   align-items: center;
    //   padding:3rem .5rem;
    //   color:$color-danger;
    // }

   }

  .edit-chart {

    height:80vh;
    width:100%;
    display:grid;
    grid-template-columns: 1fr minmax(350px,25%);
    grid-gap: 1rem;
    border-radius: 3px;
    border: 1px solid rgba($color_p_dark, 1);
    padding:1rem;

    .chart-view {

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      background-color: $color-grey-light;
      border-radius: 3px;
      border: 1px solid rgba($color_p_dark, 1);

      .warning {
        font-size: 1rem;
        font-weight: 700;
        color: rgba($color_danger, 1);
        align-self: center;
        line-height: 2rem;
      }

      .loading {
        font-size: 3rem;
        font-family:inherit;
        align-self: center;
      }

    }

    .chart-options {
    
      overflow-y: scroll;
      border: 1px solid rgba($color_p_dark, 1);
      padding: 0.5rem;
      border-radius: 3px;

      .field-group {

        position:relative;
        display:grid;
        grid-template-rows: auto;
        column-gap: 1.5em;
        margin-bottom:1rem;

        .form-group:first-child {
          grid-column: 1 / 2;
        }
  
        .form-group:nth-child(2) {
          grid-column: 2 / 3;
        }

        &.fifty-fifty {
          grid-template-columns: 1fr 1fr;
        }

        &.twentyFive-seventyFive {
          grid-template-columns: 1fr 3fr;
        }

        &.sixty-forty {
          grid-template-columns: 3fr 2fr;
        }

        &.seventyFive-twentyFive {
          grid-template-columns: 3fr 1fr;
        }
        
      }

    }

  }


}