.yrl_wp_igv__admin, .yrl_wp_igv__public  {
  font-size: 62.5%;  // 10px/16px = .625 makin 1rem = 10 px.
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  input,
  select {
    font-family: inherit;
    font-size: inherit;
    color:inherit;
    padding: 0.3rem 0.2rem;
    border-radius: 3px;

    &:focus {
      outline: none;
      border: none;
    }
  }
}
