.yrl_wp_igv__admin, .yrl_wp_igv__public {

  /*************************************************
  ***************************BUTTONS****************
  **************************************************/
  .btn {
    background-color: rgba( $color_primary, 1 ) !important;
    color: rgba( $color-p-light, 1 ) !important;
  }


  /*************************************************
  ********************MAIN ACCORDION****************
  **************************************************/
  .accordion {

    &__level-2 {
      margin: .5rem 0;

      .ac-trigger {
        font-size: .8rem !important;
      }
    }

    &__level-3 {
      margin: .5rem 0;

      .ac-trigger {
        font-size: .7rem !important;
      }
    }

    .ac {

      border: 1px solid $color-p-dark;
      margin-bottom: 1px;

      &-header {
        background-color: rgba( $color_secondary,1 );
      }

      &-trigger {
       
        color: rgba( $color_p_light,1 );
        font-size: 0.9rem;

        &:focus {
          // color: rgba( $color-s-dark , 1 );
        }
        
      }

      &.is-active > .ac-header {
          background-color: rgba( $color_secondary,.8);
      }
      
      &.is-active > .ac-trigger {
          color: rgba( $color_s_dark , 1 );
      }

      &-panel {

        background-color: rgba( $color_p_medium, .4) ;
        padding: 0 .5rem;
    
        .intro {
          font-size:.8rem;
          margin:.5rem 0;
          padding:0;
          line-height: 1.4;
        }
      
      }

      &-text {
        margin-top: 2rem !important;
      }
    }
  }


  /*************************************************
  ************************FORM GROUP****************
  **************************************************/
  .form-group {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1.9rem;
    grid-template-rows: auto;

    select {
      margin-right:0px;
      option {
        width:100%;

      }
    }

    &__btn {
      grid-column: 1 / 2;
    }

    &__input {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      font-size:.7rem;
      font-family: inherit;
      color:inherit;
      padding: .3rem 1.5rem;
      border: 1px solid red;
      border-radius: 2px;
      background-color: rgba(#FFFFFF, .8);
      border:none;
      border-bottom: 3px solid transparent;
      display:block;
      width:100%;

      &:disabled {
        // background-color: red;
      }

      &.no-hint {
        grid-column: 1 / 5;
      }

      &-checkbox {
        grid-column: 1 / 2;
        display:flex;
        justify-content: center;
        align-items: center;
        width:1.9rem;
        height:1.9rem;
        justify-self: end;
        margin-left:1.45rem;
        margin-top:0;
        border-bottom: none;

        &:focus{
          border-bottom: none;

          &:invalid, &:valid{
            border-bottom: none;
          }

        }
      }

      &-color {
        width:3.8rem;
        margin-left:1.45rem;
        height:2rem;
        grid-column: 1 / 2;
        padding:0;

        &:focus{
          border-bottom: none;

          &:invalid, &:valid{
            border-bottom: none;
          }

        }

      }



      &:focus{
        outline: none;
        box-shadow: 0 .2rem .4rem rgba($color-black, .2);
        border-bottom: 3px solid rgba( $color-success, 1 );

        &:invalid {
          border-bottom: 3px solid rgba($color-danger, 1);
        }

        &::-webkit-input-placeholder {
          color:$color-grey-dark;
        }

      }

    }

    &__input:placeholder-shown + .form-group__label {
      opacity:0;
      visibility:hidden;
      transform: translate(0,-1.95rem);
    }

    &__label{
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      font-size:.7rem;
      font-weight:500;
      margin-top:.2rem;
      margin-left:1.45rem;
      display:block;
      transition: all .9s
    }

    &__tooltip {
      grid-column: 4 / 5;
      grid-row: 1 / 1;

      &-ttCheckbox {
        grid-column: 2 / 3;
      }

      &-ttColor {
        grid-column: 2 / 3;
      }

      &-question-mark {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: rgba( $color-p-light, 1 );
        background-color: rgba( $color-s-light, .5 );
        height:1.9rem;
        width:1.9rem;
        cursor: pointer;
        border-radius: 0 3px 3px 0;

        &:hover + .form-group__tooltip-hint {
          visibility: visible;
          opacity: 1;
          overflow:visible;
          z-index:9999
        }

      }

      &-hint {
        position: absolute;
        visibility: hidden;
        min-width: 310px;
        max-width:100%;
        font-size: .8rem;
        background-color: rgba($color-s-dark,1);
        color: #fff;
        border-radius: 6px;
        padding: 1rem;
        bottom: 120%;
        right:0;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

  }

  

   /*************************************************
  ************************CARD****************
  **************************************************/

  .card {
    background-color: #ffffff;
    padding: 1rem 2rem;
    border: 1px solid rgba( $color-s-dark, .8 );
    margin:1rem;
    .chart-container {
      position: relative;

      .loading-spinner {
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__heading {
      text-align: center;
      margin-bottom: .8rem;
      font-size:.8rem;
      color: #666;
    }

    &__footer {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;

      .shortcode {
        background-color: #ddd;
        font-size: .7rem;
        padding: 0.3rem .8rem;
        border-radius: 3px;
      }

      svg {
        width: .8rem;
        height: .8rem;
        margin-right:1rem;

        &.clone {
          fill: rgba( $color_s_dark, 1 );
          // margin-right: 1rem;
        }

        &.edit {
          fill: rgba( $color_success, 1 );
          // margin-right: 1rem;
        }

        &.delete {
          fill: rgba( $color_danger, 1 );
        }
      }
    }
  }
  
}