.yrl_wp_igv__admin, .yrl_wp_igv__public {
  
  .hidden {
    display: none !important;
  }

  .form-group {

    &:not(:last-child){
      margin-bottom: 1rem;
    }

    input[type="checkbox"] {
      border-bottom: none;
    }

    &__label{
      font-size:.6rem;
      font-weight:500;
      margin-top:.1rem;
      margin-left:1rem;
      display:block;
      transition: all .3s;
    }

    &__input{
      font-size:.8rem;
      font-family: inherit;
      color:inherit;
      padding: .1rem 1rem;
      border-radius: 2px;
      background-color: rgba( white, 1 );
      border:none;
      border-bottom: 5px solid transparent;
      display:block;
      // width:90%;

      &:not([type="checkbox"]) {
        width: 100%;
        border-bottom: none;
      }

      &:focus{
        outline: none !important;
        box-shadow: 0 .1rem .2rem rgba( $color-black, .5 );
        border-bottom: 5px solid rgba( $color-success, 1 );
  
        &:invalid {
          border-bottom: 5px solid $color-danger;
        }
      }
  
      &::-webkit-input-placeholder {
        color:$color-grey-dark;
      }
  
      &:placeholder-shown + .form-group__label {
        opacity:0;
        visibility:hidden;
        transform: translate(0,-2rem);
      }

    }


  }

  
}