.yrl_wp_igv__min-max-avg-table {

  display: flex;
  justify-content: center;
  padding:2rem;
  background-color: #DDD;

  .inputs {

    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right:0.5rem;

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom:1rem;

      &__label {
        font-size: 0.6rem;
        margin-bottom: 0.1rem;
      }

      &__input {
        border-radius: .2rem 0 0 .2rem;
        padding: 0 .5rem;
        font-size: 1rem;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;

        &:not([type="checkbox"]) {
          width: 100%;
        }
      }

    }
  }
} 