$color-grey-light: #EEE;
$color-grey-medium: #ddd;
$color-grey-dark: #666;
$color-black:#000;
$color-success:#1B5E20;
$color-danger:#DD2C00;
$color-warning:#FF6D00;


$color-primary: #b0bec5;
$color-p-light: #e2f1f8;
$color-p-dark: #808e95;

$color-secondary: #263238;
$color-s-light: #4f5b62;
$color-s-dark: #000a12;




