/*Plugin Name: AXL WP Ultimate
Version: 1.0.0
Description: Multi purpose ctheme
Author: Abbas Lamouri
Author URI: http://www.axlphotography.com
*/
/* Import Font icomoon fonts*/
@font-face {
	font-family: 'axlwpmenucart';
	src: url("fonts/icomoon/axlwpmenucart.eot?kxpuou");
	src: url("fonts/icomoon/axlwpmenucart.eot?kxpuou#iefix") format("embedded-opentype"), url("fonts/icomoon/axlwpmenucart.ttf?kxpuou") format("truetype"), url("fonts/icomoon/axlwpmenucart.woff?kxpuou") format("woff"), url("fonts/icomoon/axlwpmenucart.svg?kxpuou#axlwpmenucart") format("svg");
	font-weight: normal;
	font-style: normal;
}

.axlwpmenucart {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'axlwpmenucart' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.axlwpmenucart-basket3:before {
	content: "\e90e";
}

.axlwpmenucart-basket2:before {
	content: "\e90d";
}

.axlwpmenucart-shopping-cart5:before {
	content: "\e90c";
}

.axlwpmenucart-shopping_cart:before {
	content: "\e90b";
}

.axlwpmenucart-shopping-cart3:before {
	content: "\e907";
}

.axlwpmenucart-opencart:before {
	content: "\e908";
}

.axlwpmenucart-shopping-basket2:before {
	content: "\e909";
}

.axlwpmenucart-shopping-cart4:before {
	content: "\e90a";
}

.axlwpmenucart-shopping-basket:before {
	content: "\e905";
}

.axlwpmenucart-shopping-cart2:before {
	content: "\e906";
}

.axlwpmenucart-shopping-cart:before {
	content: "\e901";
}

.axlwpmenucart-cart3:before {
	content: "\e904";
}

.axlwpmenucart-cart2:before {
	content: "\e903";
}

.axlwpmenucart-cart:before {
	content: "\e900";
}

.axlwpmenucart-basket:before {
	content: "\e902";
}

.axlwpmenucart-cart2:before {
	content: "\e903";
}

.axlwpmenucart-cart:before {
	content: "\e900";
}

/* Import Global Variables*/
/* Import Global mixins*/
/* Import admin sass*/
.axl-wp-ultimate {
	padding: 20px;
}

.axl-wp-ultimate .admin-errors {
	color: #a64242;
}

.axl-wp-ultimate h1 {
	padding: 20px;
}

.axl-wp-ultimate .nav-tab {
	border-radius: 5px 5px 0px 0px;
	margin: 0px;
	border-bottom: none;
	padding: 5px 20px;
}

.axl-wp-ultimate .nav-tab.nav-tab-active {
	background-color: #FFFFFF;
}

.axl-wp-ultimate .content-wrapper {
	background-color: #FFFFFF;
	padding: 20px;
	border: none;
}

.axl-wp-ultimate .admin-header {
	color: #468847;
	margin-bottom: 20px;
}

.axl-wp-ultimate #axl_wp_ultimate_member .settings input[type='radio'], .axl-wp-ultimate #axl_wp_ultimate_contact_form .settings input[type='radio'], .axl-wp-ultimate #axl_wp_ultimate_menu_cart .settings input[type='radio'] {
	margin-left: 15px;
}

.axl-wp-ultimate #axl_wp_ultimate_member .settings textarea, .axl-wp-ultimate #axl_wp_ultimate_contact_form .settings textarea, .axl-wp-ultimate #axl_wp_ultimate_menu_cart .settings textarea {
	width: 100%;
}

.axl-wp-ultimate #axl_wp_ultimate_woopdf .settings input[type='text'] {
	width: 50%;
}

.axl-wp-ultimate #axl_wp_ultimate_cpt .list form {
	display: inline-block;
}

.axl-wp-ultimate #axl_wp_ultimate_cpt .list form #submit {
	display: inline-block;
	margin: 5px;
}

.axl-wp-ultimate #axl_wp_ultimate_cpt .list table {
	width: 100%;
	border: 1px gray solid;
	text-align: center;
	border-collapse: collapse;
	background-color: #FFFFFF !important;
}

.axl-wp-ultimate #axl_wp_ultimate_cpt .list table th, .axl-wp-ultimate #axl_wp_ultimate_cpt .list table td {
	border: 1px gray solid;
	text-align: center;
	padding: 10px;
}

.axl-wp-ultimate #axl_wp_ultimate_member .notify_who, .axl-wp-ultimate #axl_wp_ultimate_member .from_email_name, .axl-wp-ultimate #axl_wp_ultimate_member .user_registration_body, .axl-wp-ultimate #axl_wp_ultimate_member .admin_registration_body, .axl-wp-ultimate #axl_wp_ultimate_member .approved_registration_body, .axl-wp-ultimate #axl_wp_ultimate_member .password_reset_body {
	padding-bottom: 50px;
	border-bottom: 1px solid #c4c5c7;
}

.widefat .column-wc_actions a.axl-wp-ultimate-packing-slip:after {
	content: '\f495';
}

.widefat .column-wc_actions a.axl-wp-ultimate-invoice:after {
	content: '\f491';
}

/* Import public sass*/
.axl-wp-ultimate.user_registration, .axl-wp-ultimate.user_login, .axl-wp-ultimate.lost_pwd, .axl-wp-ultimate.reset_pwd, .axl-wp-ultimate.expired_pwd, .axl-wp-ultimate.user-logout {
	border: 1px solid #c4c5c7;
	border-radius: 6px;
	width: 95%;
	margin: auto;
	font-weight: 600;
}

.axl-wp-ultimate.user_registration input, .axl-wp-ultimate.user_login input, .axl-wp-ultimate.lost_pwd input, .axl-wp-ultimate.reset_pwd input, .axl-wp-ultimate.expired_pwd input, .axl-wp-ultimate.user-logout input {
	padding: 6px;
	color: #222222;
}

.axl-wp-ultimate.user_registration input:invalid, .axl-wp-ultimate.user_login input:invalid, .axl-wp-ultimate.lost_pwd input:invalid, .axl-wp-ultimate.reset_pwd input:invalid, .axl-wp-ultimate.expired_pwd input:invalid, .axl-wp-ultimate.user-logout input:invalid {
	border: #a64242;
}

.axl-wp-ultimate.user_registration #form-submit, .axl-wp-ultimate.user_login #form-submit, .axl-wp-ultimate.lost_pwd #form-submit, .axl-wp-ultimate.reset_pwd #form-submit, .axl-wp-ultimate.expired_pwd #form-submit, .axl-wp-ultimate.user-logout #form-submit {
	background-color: #5aabd6;
	margin-top: 20px;
	color: #FFFFFF;
	cursor: pointer;
}

.axl-wp-ultimate.user_registration #form-submit:hover, .axl-wp-ultimate.user_login #form-submit:hover, .axl-wp-ultimate.lost_pwd #form-submit:hover, .axl-wp-ultimate.reset_pwd #form-submit:hover, .axl-wp-ultimate.expired_pwd #form-submit:hover, .axl-wp-ultimate.user-logout #form-submit:hover {
	color: #ccd7e9;
	background-color: #1f3365;
}

.axl-wp-ultimate.user_registration .password-hint, .axl-wp-ultimate.user_login .password-hint, .axl-wp-ultimate.lost_pwd .password-hint, .axl-wp-ultimate.reset_pwd .password-hint, .axl-wp-ultimate.expired_pwd .password-hint, .axl-wp-ultimate.user-logout .password-hint {
	color: #666666;
}

.axl-wp-ultimate.user_registration .lost-pwd-message, .axl-wp-ultimate.user_login .lost-pwd-message, .axl-wp-ultimate.lost_pwd .lost-pwd-message, .axl-wp-ultimate.reset_pwd .lost-pwd-message, .axl-wp-ultimate.expired_pwd .lost-pwd-message, .axl-wp-ultimate.user-logout .lost-pwd-message {
	color: #666666;
}

.axl-wp-ultimate.user_registration .form-submit, .axl-wp-ultimate.user_login .form-submit, .axl-wp-ultimate.lost_pwd .form-submit, .axl-wp-ultimate.reset_pwd .form-submit, .axl-wp-ultimate.expired_pwd .form-submit, .axl-wp-ultimate.user-logout .form-submit {
	margin: 0px 50px 20px 0px;
}

.axl-wp-ultimate.user_registration .links, .axl-wp-ultimate.user_login .links, .axl-wp-ultimate.lost_pwd .links, .axl-wp-ultimate.reset_pwd .links, .axl-wp-ultimate.expired_pwd .links, .axl-wp-ultimate.user-logout .links {
	margin-top: 20px;
}

.axl-wp-ultimate.user_registration .user-notice, .axl-wp-ultimate.user_login .user-notice, .axl-wp-ultimate.lost_pwd .user-notice, .axl-wp-ultimate.reset_pwd .user-notice, .axl-wp-ultimate.expired_pwd .user-notice, .axl-wp-ultimate.user-logout .user-notice {
	margin: 20px 0px;
}

.axl-wp-ultimate.user_registration .user-notice .user-errors, .axl-wp-ultimate.user_login .user-notice .user-errors, .axl-wp-ultimate.lost_pwd .user-notice .user-errors, .axl-wp-ultimate.reset_pwd .user-notice .user-errors, .axl-wp-ultimate.expired_pwd .user-notice .user-errors, .axl-wp-ultimate.user-logout .user-notice .user-errors {
	margin: 2px;
	padding: 2px;
	color: #a64242;
	background-color: #f2dede;
	padding: 5px;
	margin: 2px;
	border: 1px #a64242 solid;
	border-radius: 3px;
	font-weight: normal;
}

.axl-wp-ultimate.user_registration .user-notice .user-errors p, .axl-wp-ultimate.user_login .user-notice .user-errors p, .axl-wp-ultimate.lost_pwd .user-notice .user-errors p, .axl-wp-ultimate.reset_pwd .user-notice .user-errors p, .axl-wp-ultimate.expired_pwd .user-notice .user-errors p, .axl-wp-ultimate.user-logout .user-notice .user-errors p {
	margin: 0px !important;
}

.axl-wp-ultimate.user_registration .user-notice .user-success, .axl-wp-ultimate.user_login .user-notice .user-success, .axl-wp-ultimate.lost_pwd .user-notice .user-success, .axl-wp-ultimate.reset_pwd .user-notice .user-success, .axl-wp-ultimate.expired_pwd .user-notice .user-success, .axl-wp-ultimate.user-logout .user-notice .user-success {
	margin: 2px;
	padding: 2px;
	color: #468847;
}

.axl-wp-ultimate.contact-form .ajax-loading {
	text-align: center;
	display: none;
}

.axl-wp-ultimate.contact-form textarea {
	width: 100%;
}

.axl-wp-ultimate .clearfix {
	clear: both;
}

/*# sourceMappingURL=css.css.map */
