// Global css

.axl-wp-ultimate {

	.user-notice {
			margin:20px 0px;
			
			.user-errors {
				margin:5px;
				padding:2px;
				color:$dark-red;
				background-color: $light-red;
				padding:5px;
				margin:2px;
				border: 1px $dark-red solid;
				border-radius:3px;
				font-weight:normal;

				p {
					margin:0px !important;
				}
			}

			.user-success {
				margin:2px;
				padding:2px;
				color:$green;
			}
		}

	// General css for all forms
	 &.user_registration, &.user_login, &.user_lost_pwd, &.user_reset_pwd, &.security, &.user-logout  {
		border:$border-width solid $grey;
		border-radius:6px;
		width:95%;
		margin:auto;
		font-weight:600;
		
		input {
			padding:$input-padding;
			color:$dark-grey;

			&:invalid {
				border:$dark-red;
			}
		}
		
		//#login-submit, #register-submit, #lostpassword-submit, #resetpassword-submit, #expiredpassword-submit, #axl-wp-ultimate-contact-form-submit {
		#form-submit {
			background-color:$cyan;
			margin-top:20px;
			color:$white;
			cursor:pointer;
			&:hover {
				color:$light-blue;
				background-color:$blue;
			}
		}

		.password-hint {
			color:#666666;
		}

		.lost-pwd-message {
			color:#666666;
		}
		
		.form-submit {
			//float:right;
			margin: 0px 50px 20px 0px;
		}

		
		.links {
			margin-top:20px;
		}
		
		

	}


	// Contact form css
	&.contact-form {
		.ajax-loading {
			text-align:center;
			display:none;
		}

		textarea{
			width:100%;
			//display:inline-block !important;
		}
	}


	.clearfix {
		clear:both;
	}


}  // END .axl-wp-ultimate {



// Woocommerce




