/*Plugin Name: AXL WP Ultimate
Version: 1.0.0
Description: Multi purpose ctheme
Author: Abbas Lamouri
Author URI: http://www.axlphotography.com
*/


/* Import Font icomoon fonts*/
@import "components/icomoon";

/* Import Global Variables*/
@import "components/variables";

/* Import Global mixins*/
@import "components/mixins";

/* Import public sass*/
@import "components/base";

/* Import public sass*/
@import "components/public";