.axl-wp-ultimate {

  &.wrap {

    padding:20px;

    // admin navigation tabs
    .nav-tab-wrapper {
      margin:20px 0px -1px 0px;
      border:none !important;

        .nav-tab {
        border-radius:$border-radius;
        margin:0px;
        border-bottom:none;
        padding:5px 20px;

        &.nav-tab-active {
          background-color:$white;
        }
      }
    }
    
    // admin header for general info
    .admin-header {
      color:$green;
      margin-bottom:20px;
    }

    .reset-settings {
      #reset_settings {
        background-color:$red;
        color:$white;
      }

    }

    // Ajax loading area
    .admin-ajax-loading {
      display:none;
    }

    // List table
    table.wp-list-table {
      clear:none !important;
      td {
        &.actions {
          text-align:center;
          form { 
            display:inline-block;
            margin:5px;
          }
        }
       
      }
    }

    // Hide add-new-feial button initially
    #add-new-field {
     // display:none;
    }


    // Hide the settings fields table initially
    .axl_wp_ultimate-0 {
     //display:none;
    }


     // hide field options until field type is selected
    // .field-options {
    //   display:none;
    // }
    

    // Admin settings content area
    .content-wrapper {
      background-color:$white;
      padding:20px;
      border:1px solid #ccc;
      table {
        textarea {
          width:100%;
        }
        .admin-radio {
          margin-right:15px;
        }
      }
      #settings-options {
        p.submit {
          margin:10px;
          float:left;
        }
      }
    }

  }


  // Maintain row width as the row is being dragged (jquery UI sortable);
  .ui-sortable-helper {
    display: table;
  }


}




