
//Colors

$white: #FFFFFF;

$blue : #1f3365;

$cyan : #5aabd6;

$light-blue : #ccd7e9;

$green : #468847;

$light-green : #DFF0D8;

$red : #d9534f;

$grey :  #c4c5c7;

$dark-grey : #222222;

$border : 1px solid $grey;

$border-radius : 5px 5px 0px 0px;

$border-width : 1px;

$input-padding : 6px;

$light-red : #f2dede;

$dark-red : #a64242;



